<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #374151;
            padding: 1rem;
        }
        @media (max-width: 1170px) {
                .responsive-image {
                  content: url('/uploads/AUTO\ MOBILE\ TOOL\ SMALL\ LOGO.png');
                }
              }
    </style>
</head>

<body>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span id="menuToggle" class="absolute -inset-0.5"></span>
            <script>
              document.getElementById("menuToggle").addEventListener("click", () => {
                document.getElementById("mobileMenu").classList.toggle("show")
              })
            </script>
            <style>
              #mobileMenu {
                height: 0;
                overflow: hidden;
              }

              .show {
                height: auto !important;

                transition: all 1s ease-out;
              }
            </style>
            <span class="sr-only">Open main menu</span>
            <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
               <img class="h-8 w-auto responsive-image" src="/uploads/AUTO MOBILE TOOL LOGO.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <% if (user.role=="company" ) { %>
                <a href="/"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"">Home</a>
                  <a href=" /profile/<%=user._id %>" class=" bg-gray-900 text-white rounded-md px-3 py-2 text-sm
                  font-medium aria-current="page">Profile</a>
                <a href="/cover/<%= user._id %>"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cover
                  Picture</a>
                <a href="/logo/<%= user._id %>"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logo</a>
                <a href="/products/<%= user._id %>"
                  class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">My
                  Products</a>
                <% } else if(user.role=="visitor" ) { %>
                  <a href="/"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
                  <a href=" /profile/<%=user._id %>" class=" bg-gray-900 text-white rounded-md px-3 py-2 text-sm
                    font-medium aria-current="page">Profile</a>
                  <a href="/cart/<%=user._id %>"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cart</a>
                  <% } 
                  else { %>
                    <a href=" /" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Home</a>
                    <a href=" /profile/<%=user._id %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Profile</a>
                    <a href=" /dashboard" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Overview</a>
                    <a href=" /dashboard/users" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">All Visitors </a>
                    <a href=" /dashboard/company" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">All Companies</a>
                    <a href=" /dashboard/admins" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">All Admins</a>
                    <a href=" /dashboard/products" class=" bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page">All Products</a>
                  <% } %>

                    <!-- Current: " bg-gray-900 text-white",
                    Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->

            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
       
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div id="mobileMenu" class="space-y-1 px-2 pb-3 pt-2 ">

        <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Home</a>
        <a href="/profile/<%= user._id %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Profile</a>
        <a href="/dashboard" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Overview</a>
        <a href="/dashboard/users" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">All Visitors</a>
        <a href="/dashboard/company" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">All Companies</a>
        <a href="/dashboard/admins" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">All Admins</a>
        <a href="/dashboard/products" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">All Products</a>

      </div>
    </div>
  </nav>
    <ul role="list" class="divide-y divide-gray-100">
        <% products.forEach(visitor=> { %>
          
            <li class="flex justify-between gap-x-6 py-5">
              <div class="flex min-w-0 gap-x-4">
                  <img class="h-12 w-12 flex-none rounded-full bg-gray-50"
                      src="<%= visitor.logo1 ? '/' + visitor.logo1 : 'https://static.vecteezy.com/system/resources/previews/019/896/008/original/male-user-avatar-icon-in-flat-design-style-person-signs-illustration-png.png' %>"
                      alt="">
                  <div class="min-w-0 flex-auto">
                      <p class="text-sm font-semibold leading-6 text-white">
                          <%= visitor.name %>
                      </p>
                      <p class="mt-1 truncate text-xs leading-5 text-white">
                        <%= visitor.CreatedByUser %>
                      </p>
                      <p class="mt-1 truncate text-xs leading-5 text-white">
                          Price : <%= visitor.price %>
                      </p>
                      <p class="mt-1 truncate text-xs leading-5 text-white">
                        <a class="bg-gray-900 text-white  rounded-md p-2 text-sm font-medium " href="/product/<%=visitor._id %>">View Product</a>
                        <a class="bg-gray-900 text-white  rounded-md p-2 text-sm font-medium " href="../company/<%= visitor.createdBy %>">View Company</a>
                    </p>
                     
                  </div>
              </div>
          </li>
          
            
            <% }); %>
    </ul>

</body>

</html>