<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re Sell</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<style>
   body{
    padding: 1rem;
    background-color: #111827;
   }
   #profiledropdown{
            display:none;
          }
          @media (max-width: 1170px) {
                .responsive-image {
                  content: url('/uploads/AUTO\ MOBILE\ TOOL\ SMALL\ LOGO.png');
                }
              }
</style>
<body>
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
          <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
              <!-- Mobile menu button-->
              <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                <span class="absolute -inset-0.5"></span>
                <span class="sr-only">Open main menu</span>
                <!--
                  Icon when menu is closed.
      
                  Menu open: "hidden", Menu closed: "block"
                -->
                <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
                <!--
                  Icon when menu is open.
      
                  Menu open: "block", Menu closed: "hidden"
                -->
                <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </button>
            </div>
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
              <div class="flex flex-shrink-0 items-center">
                <img class="h-8 w-auto responsive-image" src="/uploads/AUTO MOBILE TOOL LOGO.png" alt="Your Company">
              </div>
              <div class="hidden sm:ml-6 sm:block">
                <div class="flex space-x-4">
                  <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                  <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"">Home</a>
                  <a href="/profile/<%= user %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"">Profile</a>
                  <a href="/cover/<%= user %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Cover Picture</a>
                  <a href="/logo/<%= user %>" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Logo</a>
                  <a href="/products/<%= user %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">My Products</a>
                </div>
              </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
       <!-- Profile dropdown -->
              <div class="relative ml-3" id="profiledropdown">
                <div>
                  <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                    <span class="absolute -inset-1.5"></span>
                    <span class="sr-only">Open user menu</span>
                    <img class="h-8 w-8 rounded-full" src="https://picsum.photos/32/32/?random" alt="">
                  </button>
                </div>
      
                <!--
                  Dropdown menu, show/hide based on menu state.
      
                  Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                  Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95"
                -->
                <div class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                  <!-- Active: "bg-gray-100", Not Active: "" -->
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2">Sign out</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Mobile menu, show/hide based on menu state. -->
        <div class="sm:hidden" id="mobile-menu">
          <div class="space-y-1 px-2 pb-3 pt-2">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Home</a>
            <a href="/profile/<%= user._id %>" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page">Profile</a>
            <a href="/cover/<%= user._id %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Cover Picture</a>
            <a href="/logo/<%= user._id %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Logo</a>
            <a href="/products/<%= user._id %>" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">My Products</a>
          </div>
        </div>
            </nav>
<form id="edit-form" method="POST" enctype="multipart/form-data"  action="/product/<%= product.createdBy %>/<%= product._id %>">
      
      <div class="border-b border-white/10 pb-12">
        <h2 class="text-base font-semibold leading-7 text-white">Product Information</h2>
        <p class="mt-1 text-sm leading-6 text-white">Edit And Make Changes To Your Product</p>
        <div class="flex flex-wrap">
          <div class="sm:col-span-1">
            <label for="logo1" class="block text-sm font-medium leading-6 text-white">Logo/Thumbnail</label>
            <div class="mt-2">
                <input id="logo1" type="file" name="logo1" class="hidden" />
                <label for="logo1">
                    <img id="preview1" src="<%= product.logo1 ? '/' + product.logo1 : 'https://i.ibb.co/kSZwvxX/addLogo.png' %>" alt="Add logo 1" class="cursor-pointer bg-gray-700 border py-3 my-2 mx-3 px-5 text-grey-darkest text-white rounded hover:bg-gray-900"/>
                </label>
            </div>
          </div>
          
          <div class="sm:col-span-1">
            <label for="logo2" class="block text-sm font-medium leading-6 text-white">Picture 1</label>
            <div class="mt-2">
                <input id="logo2" type="file" name="logo2" class="hidden" />
                <label for="logo2">
                    <img id="preview2" src="<%= product.logo2 ? '/' + product.logo2 : 'https://i.ibb.co/hdMGGR4/carousel-1-1.png' %>" alt="Add logo 2" class="cursor-pointer bg-gray-700 border py-3 my-2 mx-3 px-5 text-grey-darkest text-white rounded hover:bg-gray-900"/>
                </label>
            </div>
          </div>
          
          <div class="sm:col-span-1">
            <label for="logo3" class="block text-sm font-medium leading-6 text-white">Picture 2</label>
            <div class="mt-2">
                <input id="logo3" type="file" name="logo3" class="hidden" />
                <label for="logo3">
                    <img id="preview3" src="<%= product.logo3 ? '/' + product.logo3 : 'https://i.ibb.co/hdMGGR4/carousel-1-1.png' %>" alt="Add logo 3" class="cursor-pointer bg-gray-700 border py-3 my-2 mx-3 px-5 text-grey-darkest text-white rounded hover:bg-gray-900"/>
                </label>
            </div>
          </div>
         </div>
        
        <script>
          
          
        document.querySelectorAll('input[type=file]').forEach(input => {
          input.addEventListener('change', function() {
              const file = this.files[0];
              const reader = new FileReader();
              reader.onloadend = function() {
                  document.querySelector(`#preview${input.id.slice(-1)}`).src = reader.result;
              }
              if (file) {
                  reader.readAsDataURL(file);
              } else {
                  document.querySelector(`#preview${input.id.slice(-1)}`).src = "/views/images/AddLogo.svg";
              }
          });
        });
        </script>
       
        <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <label for="first-name" class=" block text-sm font-medium leading-6 text-white">Name</label>
            <div class="mt-2">
              <input type="text" name="name" id="name" value="<%= product.name %>" autocomplete="given-name" class="bg-gray-900 p-2 block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class="sm:col-span-3">
            <label for="slogan" class="block text-sm font-medium leading-6 text-white">Slogan</label>
            <div class="mt-2">
                <input id="slogan" name="slogan" type="slogan" value="<%= product.slogan %>" autocomplete="slogan" class="bg-gray-900 p-2 block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

          <div class="sm:col-span-4">
            <label for="websitelink" class="block text-sm font-medium leading-6 text-white">Website</label>
            <div class="mt-2">
              <input id="websitelink" name="websitelink" type="text" value="<%= product.websitelink %>" autocomplete="given-name" class="bg-gray-900 p-2 block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>

     
  
          <!-- <div class="sm:col-span-3">
            <label for="country" class="block text-sm font-medium leading-6 text-white">Country</label>
            <div class="mt-2">
              <select id="country" name="country" autocomplete="country-name" class="block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <option>United States</option>
                <option>Canada</option>
                <option>Mexico</option>
              </select>
            </div>
          </div> -->
  
          <div class="sm:col-span-3">
            <label for="companyname" class="block text-sm font-medium leading-6 text-white">Address</label>
            <div class="mt-2">
                <input id="text" name="address" type="address" value="<%= product.address %>" autocomplete="address" class="bg-gray-900 p-2 block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
          <div class="sm:col-span-2 sm:col-start-1">
            <label for="discription" class="block text-sm font-medium leading-6 text-white">Discription</label>
            <div class="mt-2">
                <input id="discription" name="discription" type="text" value="<%= product.discription %>"  class="bg-gray-900 p-2 block w-full rounded-md border-0 py-1.5 text-white shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
          </div>
  
         
         
        </div>
      </div>
    <div class="mt-6 flex items-center justify-end gap-x-6">
      <button type="button" class="text-sm font-semibold leading-6 text-white">Cancel</button>
      <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
    </div>
  </form>
  
</body>
</html>
<!-- <form action="/product/<%= product.createdBy %>/<%= product._id %>" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" value="<%= product.name %>">
    <label for="slogan">Slogan:</label>
    <input type="text" id="slogan" name="slogan" value="<%= product.slogan %>">
    <label for="websitelink">Website:</label>
    <input type="text" id="websitelink" name="websitelink" value="<%= product.websitelink %>">
    
 

    <input type="submit" value="Update">
</form> -->
