<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Re Sell</title>
  <!-- Include Tailwind CSS via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      padding: 1rem;
      background-color: #374151;
    }

    input {
      border: none
    }

    /* #profiledropdown{
            display:none;
          } */
    #coverContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 30vh; */
      overflow: hidden;
    }
  </style>
</head>

<body>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span id="menuToggle" class="absolute -inset-0.5"></span>
            <script>
              document.getElementById("menuToggle").addEventListener("click", () => {
                document.getElementById("mobileMenu").classList.toggle("show")
              })
            </script>
            <style>
              #mobileMenu,
              #profiledropdown {
                height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;
              }

              .show {
                height: auto !important;

                transition: all 1s ease-out;
              }

              @media (max-width: 1170px) {
                .responsive-image {
                  content: url('/uploads/AUTO\ MOBILE\ TOOL\ SMALL\ LOGO.png');
                }
              }
            </style>
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto responsive-image" src="/uploads/AUTO MOBILE TOOL LOGO.png" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class=" bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium aria-current="
                page">Home</a>
              <a href="/services"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Services</a>
              <a href="/career"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Career</a>
              <a href="/aboutus"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"">About Us</a>
          <a href=" /contactus"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact
                Us</a>

              <% if (loggedIn) { %>
                <a href="/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Log Out</a>
                <% } else { %>
                  <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Log
                    In</a>
                  <a href="/signupSelect"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Sign Up</a>
                  <% } %>



            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <% if (user.role==="visitor" ) { %>
            <li
              class="font-sans block mt-4 lg:inline-block lg:mt-0 lg:ml-6 align-middle text-black hover:text-gray-700">
              <a href="/cart/<%= user.username %>" role="button" class="relative flex">
                <svg class="flex-1 w-8 h-8 fill-current" viewbox="0 0 24 24">
                  <path
                    d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                </svg>
                <span
                  class="absolute right-0 top-0 rounded-full bg-red-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm  leading-tight text-center">
                  <%= cartCount %>
                </span>
              </a>
            </li>
            <% }%> <!-- Profile dropdown -->
              <% if (loggedIn) { %>
                <div class="relative ml-3">
                  <div>
                    <button type="button"
                      class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                      id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="absolute -inset-1.5"></span>
                      <span class="sr-only">Open user menu</span>
                      <img class="h-10 w-10 rounded-full"
                        src="<%= logo.logo ? '' + logo.logo : 'https://picsum.photos/32/32/?random' %>" alt="">
                    </button>
                  </div>

                  <script>
                    document.getElementById("user-menu-button").addEventListener("click", () => {
                      document.getElementById("profiledropdown").classList.toggle("show")
                    })
                  </script>
                  <div id="profiledropdown"
                    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <% if (user.role=="company" ) { %>
                      <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-0">Company Details</a>
                      <a href="/cover/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-1">Cover Picture</a>
                      <a href="/logo/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                        tabindex="-1" id="user-menu-item-2">Logo</a>
                      <a href="/products/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-3">My Products</a>
                      <% } else if(user.role=="visitor" ) { %>
                        <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem" tabindex="-1" id="user-menu-item-0">Profile</a>
                        <a href="/cart/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem" tabindex="-1" id="user-menu-item-1">My Cart</a>
                        <% } else{%>
                          <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                            role="menuitem" tabindex="-1" id="user-menu-item-0">Admin Profile</a>
                          <a href="/dashboard" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                            tabindex="-1" id="user-menu-item-0">Admin Dashboard</a>
                          <% } %>


                  </div>
                </div>
                <% } else { %>

                  <% } %>



        </div>
      </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div id="mobileMenu" class="space-y-1 px-2 pb-3 pt-2 ">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
          aria-current="page">Home</a>
        <a href="/services"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Services</a>
        <a href="/career"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Career</a>
        <a href="/aboutus"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About
          Us</a>
        <a href="/contactus"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact
          Us</a>
        <% if (loggedIn) { %>
          <a href="/logout"
            class="text-white bg-red-700 hover:bg-red-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Log
            Out</a>
          <% } else { %>
            <a href="/signupSelect"
              class="text-white bg-green-700 hover:bg-green-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Sign
              Up</a>
            <a href="/login"
              class="text-white bg-blue-700 hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Log
              In</a>
            <% } %>




      </div>
    </div>
  </nav>
  <div id="coverContainer">
    <% if(covers.length> 0) { %>
      <% covers.forEach(function(cover, index) { %>
        <img class="coverSlideShow" src="../<%= cover %>" alt="Cover image" style='display: <%=index===0 ? ' block'
          : 'none' %>'>

        <% }); %>
          <% } else { %>
            <img src="/uploads/COVERPCSLIDE.png" alt="Default image">
            <% } %>
  </div>
  <script>
    let currentCoverIndex = 0;
    const covers = document.querySelectorAll(".coverSlideShow");

    setInterval(() => {
      covers[currentCoverIndex].style.display = 'none';
      currentCoverIndex = (currentCoverIndex + 1) % covers.length;
      covers[currentCoverIndex].style.display = 'block';
    }, 3000);
  </script>
  <style>
    .marquee {
      overflow: hidden;
      margin: 1rem;
    }

    .marquee-content {
      display: flex;
      animation: scrolling 10s linear infinite;
    }

    .marquee-item {
      flex: 0 0 8vw;
      margin: 0 1vw;
      /*   flex: 0 0 20vw; */
      /*   margin: 0 2vw; */
    }

    .marquee-item img {
      display: block;
      width: 100%;
      border-radius: 100%;
      /*   padding: 0 20px; */
    }

    @keyframes scrolling {
      0% {
        transform: translateX(0);
      }

      100% {
        transform: translatex(144vw);
      }
    }
  </style>
  <div class="marquee">
    <div class="marquee-content">
      <% if(logos.length> 0) { %>
        <% logos.forEach(function(logo, index) { %>
          <div class="marquee-item">
            <img src="../<%= logo %>" alt="">
          </div>
          <% }); %>
            <% } else { %>
              <img src="/uploads/COVERPCSLIDE.png" alt="Default image">
              <% } %>
    </div>
  </div>
  <div class="bg-gray-700 m-0">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-24 lg:max-w-7xl lg:px-8">

      <h2 class=" h-10 text-lg font-medium text-white">All companies</h2>
      <div class="container my-12 mx-auto px-4 md:px-12">
        <div class="flex flex-wrap -mx-1 lg:-mx-4">
          <% if (!companies || companies.length===0) { %>
            <h1 class="text-lg font-medium text-white m-10">You Have No companies</h1>
            <% } else { %>
              <% companies.forEach(function(company) { %>
                <!-- Column -->
                <div class="my-1 px-1 w-full md:w-1/4 lg:my-4 lg:px-4 lg:w-1/4 ">

                  <!-- Article -->
                  <article class="overflow-hidden rounded-lg shadow-lg bg-gray-200">

                    <a href="/company/<%= company._id %>">
                      <img alt="Placeholder" class="block h-auto w-full"
                        src="../<%= company.logo ? '' + company.logo : 'https://i.ibb.co/kSZwvxX/addLogo.png' %>">
                    </a>

                    <header class="flex items-center justify-between leading-tight p-2 md:p-4">
                      <h1 class="text-lg">
                        <a class="no-underline hover:underline text-gray-700" href="/company/<%= company._id %>">
                          <%= company.companyName %>
                        </a>
                      </h1>
                      <!-- <p class="text-white text-sm">
                        <%= company.phone %>
                      </p> -->
                    </header>
                    <HR>
                    <footer class="flex items-center justify-between leading-none p-2 md:p-4">
                      <a class="flex items-center no-underline hover:underline text-gray-700"
                        href="/company/<%= company._id %>">
                        <img alt="Placeholder" class="block rounded-full" src="https://picsum.photos/32/32/?random">
                        <p class="ml-2 text-sm">
                          Owner: <%= company.name %>
                        </p>
                      </a>
                      <a class="no-underline text-grey-darker hover:text-red-dark" href="/company/<%= company._id %>">
                        <span class="hidden">Like</span>
                        <i class="fa fa-heart"></i>
                      </a>
                    </footer>

                  </article>
                  <!-- END Article -->


                </div>
                <% }); %>
                  <% } %>
        </div>
        <!-- END Column -->


      </div>

    </div>
  </div>
</body>

</html>