<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Product</title>
  <!-- Include Tailwind CSS via CDN -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #374151;
    }

    input {
      border: none
    }

    .mainPictureContainer {

      overflow: hidden;
    }
  </style>
  <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js"></script>
</head>

<body>
  <nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button type="button"
            class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
            aria-controls="mobile-menu" aria-expanded="false">
            <span id="menuToggle" class="absolute -inset-0.5"></span>
            <script>
              document.getElementById("menuToggle").addEventListener("click", () => {
                document.getElementById("mobileMenu").classList.toggle("show")
              })
            </script>
            <style>
              #mobileMenu,
              #profiledropdown {
                height: 0;
                margin: 0;
                padding: 0;
                overflow: hidden;
              }

              .show {
                height: auto !important;

                transition: all 1s ease-out;
              }
              @media (max-width: 1170px) {
                .responsive-image {
                  content: url('/uploads/AUTO\ MOBILE\ TOOL\ SMALL\ LOGO.png');
                }
              }
            </style>
            <span class="sr-only">Open main menu</span>
            <!--
            Icon when menu is closed.

            Menu open: "hidden", Menu closed: "block"
          -->
            <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
            <!--
            Icon when menu is open.

            Menu open: "block", Menu closed: "hidden"
          -->
            <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
              aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto responsive-image" src="/uploads/AUTO MOBILE TOOL LOGO.png"
              alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <a href="/" class=" bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium aria-current="
                page">Home</a>
              <a href="/services"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Services</a>
              <a href="/career"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium">Career</a>
              <a href="/aboutus"
                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"">About Us</a>
          <a href=" /contactus"
                class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact
                Us</a>

              <% if (loggedIn) { %>
                <a href="/logout" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">Log Out</a>
                <% } else { %>
                  <a href="/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Log
                    In</a>
                  <a href="/signupSelect"
                    class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">Sign Up</a>
                  <% } %>



            </div>
          </div>
        </div>
        <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
          <% if (user.role==="visitor" ) { %>
            <li
              class="font-sans block mt-4 lg:inline-block lg:mt-0 lg:ml-6 align-middle text-black hover:text-gray-700">
              <a href="/cart/<%= user.username %>" role="button" class="relative flex">
                <svg class="flex-1 w-8 h-8 fill-current" viewbox="0 0 24 24">
                  <path
                    d="M17,18C15.89,18 15,18.89 15,20A2,2 0 0,0 17,22A2,2 0 0,0 19,20C19,18.89 18.1,18 17,18M1,2V4H3L6.6,11.59L5.24,14.04C5.09,14.32 5,14.65 5,15A2,2 0 0,0 7,17H19V15H7.42A0.25,0.25 0 0,1 7.17,14.75C7.17,14.7 7.18,14.66 7.2,14.63L8.1,13H15.55C16.3,13 16.96,12.58 17.3,11.97L20.88,5.5C20.95,5.34 21,5.17 21,5A1,1 0 0,0 20,4H5.21L4.27,2M7,18C5.89,18 5,18.89 5,20A2,2 0 0,0 7,22A2,2 0 0,0 9,20C9,18.89 8.1,18 7,18Z" />
                </svg>
                <span
                  class="absolute right-0 top-0 rounded-full bg-red-600 w-4 h-4 top right p-0 m-0 text-white font-mono text-sm  leading-tight text-center">
                  <%= cartCount %>
                </span>
              </a>
            </li>
            <% }%> <!-- Profile dropdown -->
              <% if (loggedIn) { %>
                <div class="relative ml-3">
                  <div>
                    <button type="button"
                      class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800"
                      id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                      <span class="absolute -inset-1.5"></span>
                      <span class="sr-only">Open user menu</span>
                      <img class="h-10 w-10 rounded-full" src="<%= logo.logo ? '/' + logo.logo : 'https://picsum.photos/32/32/?random' %>" alt="">
                    </button>
                  </div>

                  <script>
                    document.getElementById("user-menu-button").addEventListener("click", () => {
                      document.getElementById("profiledropdown").classList.toggle("show")
                    })
                  </script>
                  <div id="profiledropdown"
                    class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
                    role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                    <!-- Active: "bg-gray-100", Not Active: "" -->
                    <% if (user.role=="company" ) { %>
                      <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-0">Company Details</a>
                      <a href="/cover/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-1">Cover Picture</a>
                      <a href="/logo/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                        tabindex="-1" id="user-menu-item-2">Logo</a>
                      <a href="/products/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                        role="menuitem" tabindex="-1" id="user-menu-item-3">My Products</a>
                      <% } else if(user.role=="visitor" ) { %>
                        <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem" tabindex="-1" id="user-menu-item-0">Profile</a>
                        <a href="/cart/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                          role="menuitem" tabindex="-1" id="user-menu-item-1">My Cart</a>
                        <% } else{%>
                          <a href="/profile/<%= user.username %>" class="block px-4 py-2 text-sm text-gray-700"
                            role="menuitem" tabindex="-1" id="user-menu-item-0">Admin Profile</a>
                          <a href="/dashboard" class="block px-4 py-2 text-sm text-gray-700" role="menuitem"
                            tabindex="-1" id="user-menu-item-0">Admin Dashboard</a>
                          <% } %>


                  </div>
                </div>
                <% } else { %>

                  <% } %>



        </div>
      </div>
    </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div class="sm:hidden" id="mobile-menu">
      <div id="mobileMenu" class="space-y-1 px-2 pb-3 pt-2 ">
        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
        <a href="/" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium"
          aria-current="page">Home</a>
        <a href="/services"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Services</a>
        <a href="/career"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Career</a>
        <a href="/aboutus"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">About
          Us</a>
        <a href="/contactus"
          class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Contact
          Us</a>
        <% if (loggedIn) { %>
          <a href="/logout"
            class="text-white bg-red-700 hover:bg-red-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Log
            Out</a>
          <% } else { %>
            <a href="/signupSelect"
              class="text-white bg-green-700 hover:bg-green-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Sign
              Up</a>
            <a href="/login"
              class="text-white bg-blue-700 hover:bg-blue-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Log
              In</a>
            <% } %>




      </div>
    </div>
  </nav>

  <div class="antialiased">
    <div class="py-6">
      <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 mt-6">
        <div class="flex flex-col md:flex-row -mx-4">
          <div class="md:flex-1 px-4">
            <div x-data="{ image: 1 }" x-cloak>
              <div class="h-64 md:h-80 rounded-lg bg-gray-100 mb-4">
                <div x-show="image === 1"
                  class="mainPictureContainer h-64 md:h-80 rounded-lg bg-gray-100 mb-4 flex items-center justify-center">
                  <!--               <span class="text-5xl">1</span> -->
                  <img class="rounded-lg"
                    src="<%= product.logo1 ? '/' + product.logo1 : 'https://i.ibb.co/kSZwvxX/addLogo.png' %>">
                </div>

                <div x-show="image === 2"
                  class="mainPictureContainer h-64 md:h-80 rounded-lg bg-gray-100 mb-4 flex items-center justify-center">
                  <img class="rounded-lg"
                    src="<%= product.logo2 ? '/' + product.logo2 : 'https://i.ibb.co/kSZwvxX/addLogo.png' %>">
                </div>

                <div x-show="image === 3"
                  class="mainPictureContainer h-64 md:h-80 rounded-lg bg-gray-100 mb-4 flex items-center justify-center">
                  <img class="rounded-lg"
                    src="<%= product.logo3 ? '/' + product.logo3 : 'https://i.ibb.co/kSZwvxX/addLogo.png' %>">
                </div>
              </div>

              <div class="flex -mx-2 mb-4">
                <template x-for="i in 3">
                  <div class="flex-1 px-2">
                    <button x-on:click="image = i" :class="{ 'ring-2 ring-indigo-300 ring-inset': image === i }"
                      class="focus:outline-none w-full rounded-lg h-24 md:h-32 bg-gray-100 flex items-center justify-center">
                      <span x-text="i" class="text-2xl"></span>
                    </button>
                  </div>
                </template>
              </div>
            </div>
          </div>
          <div class="md:flex-1 px-4">
            <h2 class="mb-2 leading-tight tracking-tight font-bold text-white text-2xl md:text-3xl">
              <%= product.name %>
            </h2>
            <p class="text-white text-sm">By
            <p class="text-yellow-600 hover:underline">
              <%= createdBy.name %>
            </p>
            </p>
            <div class="flex items-center space-x-4 my-4">
              <div>
                <div class="rounded-lg bg-gray-100 flex py-2 px-3">
                  <span class="text-indigo-400 mr-1 mt-1">₹</span>
                  <span class="font-bold text-indigo-600 text-3xl">
                    <%= product.offer %>
                  </span>
                </div>
              </div>
              <div class="flex-1">
                <p style="text-decoration: line-through;" class="text-green-500 text-xl font-semibold">₹<%=
                    product.price %>
                </p>

                <p class="text-gray-400 text-sm">Inclusive of all Taxes.</p>

              </div>
              <button class="h-14 px-6 py-2 font-semibold rounded-xl bg-indigo-600 hover:bg-indigo-500 text-white"
                id="add-to-cart-button" data-product-id=<%=product._id %>>Add To Cart</button>
            </div>
            <div class="flex items-center space-x-4 my-4">
              <div>
                <p class="mt-1 text-lg font-medium text-white">Slogan: <%= product.slogan %>
                </p>
                <p class="mt-1 text-lg font-medium text-white">Website: <%= product.websitelink %>
                </p>
                <p class="mt-1 text-lg font-medium text-white">Address: <%= product.address %>
                </p>
                <p class="mt-1 text-lg font-medium text-white">Description: <%= product.discription %>
                </p>
              </div>

              <div class="flex py-4 space-x-4">

                <script>
                  document.getElementById('add-to-cart-button').addEventListener('click', function (event) {
                    const productId = event.target.getAttribute('data-product-id');

                    fetch(`/add-to-cart/${productId}`, {
                      method: 'POST',
                      headers: {
                        'Content-Type': 'application/json'
                      }
                    })
                      .then(response => response.json())
                      .then(data => {
                        if (data.message) {
                          alert(data.message);
                          location.reload();
                        }
                      })
                      .catch((error) => {
                        console.error('Error:', error);
                      });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</body>

</html>